{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true,
          "experimentalObjectRestSpread": true
        }
    },
    "extends": [
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "env": {
        "es6": true,
        "node": true
    }
}
