.event-list-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.event-list-item__field {
  display: flex;
  flex-flow: row;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.event-list-item__icon {
  width: auto;
  padding: 0 20px 0 0;
}

.event-list-item__tag {
  width: auto;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px #eee;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
}
